<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@if (Html.IsDebug())
	{
		<title>@ViewData["Title"] - DEBUG : @Html.GetCurrentDirectory()</title>
	}
	else
	{
		<title>@ViewData["Title"] - RELEASE : @Html.GetCurrentDirectory()</title>
	}
	@Html.Partial("_Scripts")
</head>
<body>
	@RenderBody()
	@Html.Partial("_Styles")
</body>
</html>
